@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

:root {
    --cor-principal: #fff;
    --cor-secundaria: #000;
}

* {
margin: 0;
padding: 0;
}

body {
    background-color: rgb(31, 28, 28);
    min-height: 100vh;
    font-family: "Sriracha", cursive;
}

#heading {
    color: var(--cor-principal);
    background-color: var(--cor-secundaria);
    text-align: center;
    padding-top: 50px;
    font-family: "Passion One", sans-serif;
}

#heading h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8vw;
}

#heading p {
    padding-bottom: 50px;
    font-size: 1.5vw;
}

#heading a, footer a{
    text-decoration: none;
    color: var(--cor-principal);
    font-weight: bold;
}

#heading a:hover, footer a:hover {
    text-decoration: underline;
}

.texto {
    background-color: var(--cor-principal);
    font-size: 2.5vw;
}

.imagem {
    background: black url(../img/background001.jpg) center center fixed;
    background-size: cover;
    font-size: 2.5vw;
    color: var(--cor-principal);
    padding: 0;
}

.texto-dentro-da-div {
    background-color: #00000071;
    width: 13em;
}

.imagem-dois {
    background: black url(../img/background002.jpg) center center fixed;
    background-size: cover;
    font-size: 2.5vw;
    color: var(--cor-principal);
    padding: 0;
}

div {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}

footer {
    background-color: var(--cor-secundaria);
    text-align: center;
    color: var(--cor-principal);
}